
.DS_Store
*.tiff
.DS_Store
.DS_Store
DOGAMI/.DS_Store
DOGAMI/corrected_bare_earth.tif
DOGAMI/corrected_BE_f32.tif
classification/landsat/NLCD/NLCD_landcover_readme_2018_12_17_p4iJ9i3aW8LaQEAOCTjY.txt
classification/landsat/NLCD_p4iJ9i3aW8LaQEAOCTjY/NLCD Land Cover.gif
classification/landsat/NLCD_p4iJ9i3aW8LaQEAOCTjY/NLCD_2001_2019_change_index_L48_20210604_p4iJ9i3aW8LaQEAOCTjY.tiff.aux.xml
classification/landsat/NLCD_p4iJ9i3aW8LaQEAOCTjY/nlcd_2001_2019_change_index_l48_20210604_p4iJ9i3aW8LaQEAOCTjY.xml
classification/landsat/NLCD_p4iJ9i3aW8LaQEAOCTjY/NLCD_2019_Land_Cover_L48_20210604_p4iJ9i3aW8LaQEAOCTjY.tiff.aux.xml
classification/landsat/NLCD_p4iJ9i3aW8LaQEAOCTjY/nlcd_2019_land_cover_l48_20210604_p4iJ9i3aW8LaQEAOCTjY.xml
classification/landsat/NLCD_p4iJ9i3aW8LaQEAOCTjY/NLCD_landcover_layer_2018_12_17_p4iJ9i3aW8LaQEAOCTjY.lyr
classification/landsat/NLCD_p4iJ9i3aW8LaQEAOCTjY/NLCD_landcover_legend_2018_12_17_p4iJ9i3aW8LaQEAOCTjY.csv
classification/landsat/NLCD_p4iJ9i3aW8LaQEAOCTjY/NLCD_landcover_readme_2018_12_17_p4iJ9i3aW8LaQEAOCTjY.txt
classification/landsat/NLCD/land_cover_utm_10.tif
classification/landsat/NLCD/land_cover_utm_10.tif.aux.xml
classification/landsat/NLCD/land_cover_utm_10_clipped.tif
classification/landsat/NLCD/NLCD Land Cover.gif
classification/landsat/NLCD/NLCD_2001_2019_change_index_L48_20210604_p4iJ9i3aW8LaQEAOCTjY.tiff.aux.xml
classification/landsat/NLCD/nlcd_2001_2019_change_index_l48_20210604_p4iJ9i3aW8LaQEAOCTjY.xml
classification/landsat/NLCD/NLCD_2019_Land_Cover_L48_20210604_p4iJ9i3aW8LaQEAOCTjY.tiff.aux.xml
classification/landsat/NLCD/nlcd_2019_land_cover_l48_20210604_p4iJ9i3aW8LaQEAOCTjY.xml
classification/landsat/NLCD/NLCD_landcover_layer_2018_12_17_p4iJ9i3aW8LaQEAOCTjY.lyr
classification/landsat/NLCD/NLCD_landcover_legend_2018_12_17_p4iJ9i3aW8LaQEAOCTjY.csv
classification/landsat/NLCD_p4iJ9i3aW8LaQEAOCTjY/NLCD Land Cover.gif
classification/landsat/NLCD_p4iJ9i3aW8LaQEAOCTjY/NLCD_2001_2019_change_index_L48_20210604_p4iJ9i3aW8LaQEAOCTjY.tiff.aux.xml
classification/landsat/NLCD_p4iJ9i3aW8LaQEAOCTjY/nlcd_2001_2019_change_index_l48_20210604_p4iJ9i3aW8LaQEAOCTjY.xml
classification/landsat/NLCD_p4iJ9i3aW8LaQEAOCTjY/NLCD_2019_Land_Cover_L48_20210604_p4iJ9i3aW8LaQEAOCTjY.tiff.aux.xml
classification/landsat/NLCD_p4iJ9i3aW8LaQEAOCTjY/nlcd_2019_land_cover_l48_20210604_p4iJ9i3aW8LaQEAOCTjY.xml
classification/landsat/NLCD_p4iJ9i3aW8LaQEAOCTjY/NLCD_landcover_layer_2018_12_17_p4iJ9i3aW8LaQEAOCTjY.lyr
classification/landsat/NLCD_p4iJ9i3aW8LaQEAOCTjY/NLCD_landcover_legend_2018_12_17_p4iJ9i3aW8LaQEAOCTjY.csv
classification/landsat/NLCD_p4iJ9i3aW8LaQEAOCTjY/NLCD_landcover_readme_2018_12_17_p4iJ9i3aW8LaQEAOCTjY.txt
DOGAMI/.DS_Store
DOGAMI/25.0_sliderule_ATL03_20210419034059_03871102_005_01.h5.csv
DOGAMI/25_smoothed_BE_f32.tif
DOGAMI/30.0_sliderule_ATL03_20210419034059_03871102_005_01.h5.csv
DOGAMI/40.0_sliderule_ATL03_20210419034059_03871102_005_01.h5.csv
DOGAMI/corrected_bare_earth.tif.aux.xml
DOGAMI/filtered_land_cover_sliderule_ATL03_20210419034059_03871102_005_01.h5.csv
DOGAMI/filtered_land_cover_sliderule_ATL03_20210419034059_03871102_005_01.h5.xlsx
DOGAMI/filtered_sliderule_ATL03_20210419034059_03871102_005_01.h5.csv
DOGAMI/sliderule_ATL03_20210419034059_03871102_005_01.h5.csv
DOGAMI/smoothed_BE_f32.tif
DOGAMI/v430.0_sliderule_ATL03_20210419034059_03871102_005_01.h5.csv
DOGAMI/v430.0_sliderule_ATL03_20210419034059_03871102_005_01.h5.xlsx
